@import "tailwindcss";

@theme {
  --color-blue: #2997ff;
  --color-gray: #86868b;
  --color-gray-100: #94928d;
  --color-gray-200: #afafaf;
  --color-gray-300: #42424570;
  --color-zinc: #101010;
  --font-albert-sans: "Albert Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vh: 1vh;
}

html,
body {
  height: calc(var(--vh) * 100);
}

html,
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden !important;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
  font-family: var(--font-albert-sans);
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }

  .btn {
    @apply text-black px-4! py-1! rounded-[15px] bg-[#d1c5b1] my-5! hover:bg-transparent border-2 border-transparent hover:border-2 hover:text-[#d1c5b1] hover:border-[#d1c5b1] font-medium;
  }

  .color-container {
    @apply flex items-center justify-center rounded-full bg-gray-300 backdrop-blur;
  }

  .size-btn-container {
    @apply flex items-center justify-center p-1! rounded-full bg-gray-300 backdrop-blur ml-3! gap-1;
  }

  .size-btn {
    @apply w-8 h-8 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all;
  }

  .common-padding {
    @apply sm:py-32! py-20! sm:px-10! px-5!;
  }

  .section-heading {
    @apply text-gray lg:text-5xl text-2xl lg:mb-0 mb-5! font-medium opacity-0 translate-y-20;
  }

  .feature-text {
    @apply text-gray max-w-[280px] lg:max-w-[400px] text-base lg:text-lg font-medium opacity-0 translate-y-[100px];
  }

  .feature-text-container {
    @apply w-full flex items-start justify-center flex-col md:flex-row mt-10! md:mt-16! gap-5;
  }

  .feature-video {
    @apply w-full h-full object-cover object-center scale-150 opacity-0;
  }

  .feature-video-container {
    @apply w-full flex flex-col md:flex-row gap-5 items-center;
  }

  .link {
    @apply text-[#d1c5b1] cursor-pointer flex items-center text-base lg:text-xl opacity-0 translate-y-20;
  }

  .control-btn {
    @apply ml-4! p-4! rounded-full bg-gray-300 backdrop-blur flex! items-center! justify-center! cursor-pointer;
  }

  .hero-title {
    @apply text-center font-semibold text-3xl text-gray-100 opacity-0 max-md:mb-10;
  }

  .hiw-title {
    @apply text-2xl md:text-5xl lg:text-7xl font-semibold tracking-[-1%] text-center;
  }

  .hiw-subtitle {
    @apply text-gray font-medium text-lg lg:text-2xl py-10! text-center;
  }

  .hiw-video {
    @apply absolute w-[95%] h-[90%] rounded-[56px] overflow-hidden;
  }

  .hiw-text-container {
    @apply flex md:flex-row flex-col justify-between items-start gap-24;
  }

  .hiw-text {
    @apply text-gray text-lg lg:text-xl font-normal md:font-semibold;
  }

  .hiw-bigtext {
    @apply text-white text-2xl lg:text-5xl font-normal md:font-semibold my-2;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}
